[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Aaron Schlesinger
	email = aaron@ecomaz.net
[alias]
	st = status
[core]
	editor = code --wait
	excludesfile = /Users/aaronschlesinger/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
