alias zshconfig="code ~/.zshrc"
alias grep="rg"
alias k="kubectl"
alias ka="kubectl --all-namespaces=true"
alias ksys="kubectl --namespace=kube-system"
alias vbm="vboxmanage"
alias hug="hub"
alias codehub="code . && github ."
# https://askubuntu.com/a/473770
alias clr="clear && printf '\e[3J'"
# nuke the go modules cache
alias rm-gocache="sudo rm -rf $GOPATH/pkg/mod"
# nuke docker thingies
alias docker-prune="docker image prune && docker system prune"
# cd into the ~/src directory
alias src="cd ~/src"
# list everything
alias ls="exa -al"

# git[hub] aliases
alias gpush="git push"
alias gadd="git add"
alias gpull="git pull"
alias gcomm="git commit -s"
alias gcheck="git checkout"
alias gco="git checkout"
alias gstat="git status"
alias gs="git status"
alias gdiff="git diff"
alias gfetch="git fetch"
alias gf="git fetch"
alias hpullreq="hub pull-request"
alias hpr="hub pull-request"

alias ypush="yadm push"
alias ycomm="yadm commit -s"
alias ys="yadm status"
alias ydiff="yadm diff"
alias yadd="yadm add"
alias ypull="yadm pull"

alias tkeylight="keylight -a http://192.168.1.2:9123"
